{% extends "mainApp/wrapper.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">

      <h6>
          Данное приложение преобразует введенный текст в видео с бегущей строкой.
          Вы можете скачать видео файл нажатием на кнопку, которая появится сразу после создания.
      </h6><br>

    <form method="post">
        {% csrf_token %}
        <input type="text" name="text" id="text" class="form-control" placeholder="Введите строку" maxlength="20"><br>
        <input type="submit" class="btn btn-primary btn-lg" value="Создать">
    </form>
  </div>
</div>
{% endblock %}


